body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
}

.content {
  display: block;
  background: #e3f4ff;
  font-size: 16px;
  border: 1px solid #eee;
  padding: 10px;
}

#container {
  display: block;
  background: #e3f4ff;
  font-size: 16px;
  border: 8px solid #fff;
  padding: 20px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  margin-left: 100px;
}